@import '../globals/variables';

.site-footer {
	max-width: $maxWidth;
	margin: 3em auto 1em;
	text-align: center;
	color: $gray;
	line-height: 1.5em;
}

.copyright {
	margin-bottom: 0.5em;
}

.quote {
	font-weight: 200;
	font-style: italic;
	font-family: $lightFont;
	margin-bottom: 0.5em;
}

img:not([class]) {
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: inline;
	margin: 0 0 -6px;
	height: 30px;
}

.ssl {
	display: inline;
	
	a:hover {
		border-bottom: 1px solid transparent;
	}
}
