@import '../globals/variables';

blockquote {
	@include lightTopBorder(5px);
	@include lightBottomBorder(5px);
	margin: 1.5em 1em 1.5em 1em;
	padding: 15px 15px;
	color: $gray;
	font-style: italic;
	font-family: $bodyFont;
}

code {
	padding: 0.1em 0;
	border-radius: 2px;
	background-color: #f9f9f9;
	color: $codeColor;
	white-space: pre-wrap;
	font-size: 0.85em;
	font-family: $codeFont;
}

pre {
	overflow: auto;
	padding: 0.4em;
	border-radius: 2px;
	border-left: 2px solid $codeColor;
	background-color: #f9f9f9;
	font-size: 0.95em;
	font-family: $codeFont;
	line-height: 1.1em;

	code {
		color: $preCodeColor;
		white-space: pre;
		font-weight: 300;
	}
}
