@import '../globals/variables';

blockquote {
	@include light_top_border(5px);
	@include light_bottom_border(5px);
	margin: 1.5em 1em 1.5em 1em;
	padding: 15px 15px;
	color: $gray;
	font-style: italic;
	font-family: $body_font;
}

code {
	padding: 0.1em 0;
	border-radius: 2px;
	background-color: #f8f8f8;
	color: $code_color;
	white-space: pre-wrap;
	font-size: 0.85em;
	font-family: $code_font;
}

pre {
	overflow: auto;
	padding: 0.4em;
	border-radius: 2px;
	background-color: #f9f9f9;
	font-size: 0.95em;
	font-family: $code_font;
	line-height: 1.1em;

	& code {
		color: $pre_code_color;
		white-space: pre;
		font-weight: 300;
	}
}