@import "../globals/variables";

span {
	position: relative;
	display: inline-block;
	overflow: hidden;

	&:before {
		position: absolute;
		background-image: url(/assets/misc/404_shadow.png);
		background-size: 100%;

		top: 80%;
		right: 0;
		height: 40px;
		content: "";
	}

	&.the-404:before {
		left: 0;
		max-width: 425px;
	}

	.the-404-search:before {
		left: 11%;
		max-width: 380px;
	}
}


h1 {
	display: block;
	margin: 0 auto;
	font-weight: bold;
	text-align: center;
	color: $textColor;

	&.the-404 {
		font-size: 13em;
	}

	&.the-404-search {
		font-size: 10em;
	}
}

.error-message {
	max-width: 450px;
	font-size: 1.3em;
	line-height: 1.3em;
	margin: 20px auto;
	text-align: center;
}

@media screen and (max-width: 647px) {
	span.the-404-search:before {
		left: 8%;
		max-width: 320px;
	}

	h1 {
		&.the-404 {
			font-size: 11em;
		}
		&.the-404-search {
			font-size: 8em;
		}
	}


	p.error-message {
		font-size: 1.2em;
	}
}

@media screen and (max-width: 450px) {
	span.the-404-search:before {
		left: 6.5%;
		max-width: 250px;
	}

	h1 {
		&.the-404 {
			font-size: 9em;
		}
		&.the-404-search {
			font-size: 6em;
		}
	}
}

@media screen and (max-width: 350px) {
	span.the-404-search:before {
		left: 3%;
	}

	h1 {
		&.the-404 {
			font-size: 6em;
		}
	}
}
