<%
"use strict"

const quotes = [
	"Tables turn, bridges burn, you live and learn.",
	"Dream big, if you dare to dream.",
	"Your time is limited, so don't waste it living someone else's life.",
	"Be yourself, everyone else is taken.",
	"[...] avoid the trap of thinking you have something to lose.",
	"A lot can happen between now and \"never\"."
]
const emoji = ["ðŸ’¤", "ðŸŒŸ", "ðŸ’­", "ðŸ—¿", "ðŸ‘£", "ðŸ¶"]
%>

<footer class="site-footer" role="contentinfo">
	<div class="quote">
		<%= _.sample(emoji) %>&nbsp&nbsp&nbsp<%= _.sample(quotes) %>
	</div>
	<div class="copyright">
		<div class="ssl">
			<script language="JavaScript" type="text/javascript">
				TrustLogo("https://rolandleth.com/assets/misc/ssl-logo.png", "CL1", "aaa");
			</script>
		</div>
		&copy;
		<%= new Date().getFullYear() %>
		&nbspRoland Leth
		&nbsp&mdash;&nbsp
		<a class="home" href="/" rel="home" onClick="_gaq.push(['_trackEvent', 'home', 'click', 'Home [footer]']);">Home</a>
		&nbsp&mdash;&nbsp
		<a href="/archive">Archive</a>
	</div>
	<a href="https://plus.google.com/116830737199229269159?rel=author"></a>
</footer>
