<nav class="header">
	<!--Banner part-->
	<div class="banner-container">
		<div class="banner" role="banner">
			<a href="/">Roland Leth</a>
		</div>
		<form class="search banner-search" action="/search" method="get">
			<input type="text" class="search banner-search" name="query" size="20" maxlength="30" placeholder="Search..."/>
		</form>
	</div>
	<!--Navigation part-->
	<div role="navigation" class="navigation">
		<a href="/projects"><i class="fa fa-code"></i></a>
		<a href="http://github.com/rolandleth"><i class="fa fa-github"></i></a>
		<a href="https://ro.linkedin.com/pub/roland-leth/35/4b9/a50"><i class="fa fa-linkedin"></i></a>
		<a href="/about"><i class="fa fa-user"></i></a>
		<a href="https://twitter.com/rolandleth"><i class="fa fa-twitter"></i></a>
		<a href="/feed"><i class="fa fa-rss"></i></a>
	</div>
	<form class="search" action="/search" method="get">
		<input type="text" class="search" name="query" size="17" maxlength="30" placeholder="Search..."/>
	</form>
</nav>