<nav class="site-header">
	<div class="banner" role="banner">
		<a href="/" onClick="_gaq.push(['_trackEvent', 'home', 'click', 'Home [banner]']);">Roland Leth</a>
	</div>
	<form class="search-form" action="/search" method="get">
		<input class="text-field" type="text" name="query" size="20" maxlength="30" placeholder="Search..."/>
	</form>
	<div class="banner-border"></div>
	<div role="navigation" class="navigation">
		<a href="/" onClick="_gaq.push(['_trackEvent', 'home', 'click', 'Home [navigation]']);"><i class="fa fa-home"></i></a>
		<a href="/projects"><i class="fa fa-code"></i></a>
		<a href="http://github.com/rolandleth"><i class="fa fa-github"></i></a>
		<a href="https://ro.linkedin.com/pub/roland-leth/35/4b9/a50"><i class="fa fa-linkedin"></i></a>
		<a href="/about"><i class="fa fa-user"></i></a>
		<a href="https://twitter.com/rolandleth"><i class="fa fa-twitter"></i></a>
		<a href="/feed"><i class="fa fa-rss"></i></a>
	</div>
</nav>
