@import '../globals/variables';

h1 {
	margin-bottom: 5px;
	margin-top: 20px;
}

h2 {
	font-size: 1.2em;
	margin-bottom: 0.1em;
	padding-top: 0.25em;
}

.content {
	padding-top: 4em;
	font-family: $headerFont;
}

@include responsiveWidth($smallMedia) {
	.content {
		padding-top: 2em;
	}
}
