@import "../globals/variables";

#mc_embed_signup {
	padding-top: 8px;
	font-family: $bodyFont;

	#mce-success-response {
		display: none;
	}

	label {
		display: block;
		margin-bottom: 6px;
		font-weight: 500;
	}

	.mc-field-group {
		margin-top: 20px;

		> input {
			min-width: 250px;
			height: 20px;
			font-size: 1.25em;
			width: 50%;
		}

		&.mergeRow {
			margin-top: 30px;
		}
	}

	.content__gdpr {
		padding-bottom: 20px;

		label {
			padding-bottom: 6px;
			font-size: 1.4em;
		}

		fieldset > label {
			font-size: initial;
		}

		input.av-checkbox {
			width: 20px;
			height: 20px;
		}
	}

	#mc-embedded-subscribe {
		cursor: pointer;
		display: inherit;
		width: 220px;
		border: none;
		background-color: $linkColor;
		color: white;
		height: 50px;
		margin: auto;
		margin-top: 20px;
		font-family: $headerFont;
		font-size: 1.3em;
		border-radius: 6px;
	}
}

#mce-something-something {
	position: absolute;
	left: -5000px;
}

#mc-embedded-subscribe-form input[type="checkbox"] {
	display: inline;
	margin-right: 10px;
}

#mergeRow-gdpr {
	font-size: 0.8em;
	line-height: 1.4em;

	fieldset label {
		font-weight: normal;
	}
}

.content__gdprLegal {
	font-size: 0.8em;
	line-height: 1.4em;
}

#mc-embedded-subscribe-form .mc_fieldset {
	border: none;
	min-height: 0px;
	padding-bottom: 0px;
}

#mc_embed_signup {
	background: #fff;
	clear: left;

	.mc-field-group {
		padding-bottom: inherit;
	}

	form {
		padding: 0 20px;
	}
}

#mc_embed_signup #mc-embedded-subscribe {
	margin-top: 0;
}
