@import '../globals/variables';

h1 {
	margin-bottom: 2px;
}

.centered {
	text-align: center;
}

.centered-image-wrapper {
	margin-top: 5px;
	overflow: auto;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	-webkit-box-shadow: #777 0 0 3px 1px;
	-moz-box-shadow: #444444 0 0 3px 1px;
	box-shadow: #777 0 0 7px 0;
	/* color, h-offset, v-offset, blur, spread */
	text-align: center;
	/* inset is optional */
}

@include responsiveWidth(535px) {
	h1 {
		line-height: 1.2em;
		font-size: 1.5em;
		margin-bottom: 0;
	}

	h4 {
		font-size: 0.65em;
		margin-bottom: 0;
	}
}

@include responsiveWidth($phoneMedia) {
	h1 {
		line-height: 1.3em;
	}

	h4 {
		margin-top: -2px;
	}

	nav.pagination {
		margin-top: 0;
	}
}
