<% layout('layout') %>
<% block('head').append('<link rel = "stylesheet" href = "/assets/about.css">') %>
<div class="content">
	<div><img class="about" src="/assets/misc/MyPic.jpg" alt="My Picture" /></div>
	<p>
		Hello, my name is Roland; I’m an iOS and Ruby developer and an amateur web developer & designer.
		More information can be found in <a href="/Roland-Leth-Resume.pdf" onClick="_gaq.push(['_trackEvent', 'Downloads', 'PDF',
				'Résumé']);">my résumé</a> and on my <a href="http://careers.stackoverflow.com/rolandleth">Stack Overflow Careers</a> profile.
	</p>
	<p>
		If I could be of help or you just want to say hi, you can drop me an email at <a href="mailto:hi@rolandleth.com">hi@rolandleth.com</a>, or find me on Twitter <a href="https://twitter.com/rolandleth">@rolandleth</a>.
	</p>
	<p>
		I’m mostly writing about iOS and Ruby development: snippets, walkthroughs, tips and tricks, stuff that I struggled with and links to interesting stuff I find around the web. From time to time I will find an interesting or helpful app and I will write about that, as well.
	</p>
	<p>
		The blog is now created with <a href="http://www.nodejs.org/">Node.js</a> (previously with <a href="http://www.sinatrarb.com/">Sinatra</a>) and it's hosted on <a
			href="http://heroku
			.com">Heroku</a>. It’s written using <a href="http://daringfireball.net/projects/markdown/">Markdown</a>, with the help of <a href="http://lightpaper.42squares.in">LightPaper</a> and <a href="http://omz-software.com/editorial/">Editorial</a>.
	</p>
</div>
<div class="privacy-footer" role="extra contentinfo">
	<p><a href="/privacy-policy">Privacy Policy</a></p>
</div>