<article class="about">
	<div class="content">
		<p class="noMargin"><img class="about" src="/assets/misc/MyPic.jpg" alt="My Picture" /></p>
	  <p>
	    Hello, my name is Roland; I’m an iOS developer and an amateur web developer & designer.
	    I finished learning Ruby a while ago and I’m currently making great progress through Rails.
	    More detailed information can be found in <a href="/file:Roland Leth.pdf">my résumé</a>.
	  </p>
	  <p>
	  You can find me on Twitter <a href="https://twitter.com/rolandleth">@rolandleth</a> and on App.net also <a href="https://alpha.app.net/rolandleth">@rolandleth</a>. If you want to hire or work with me, need help, or just want to say hi, drop me an email at <a href="mailto:roland@rolandleth.com">roland@rolandleth.com</a>.
	  </p>
	  <p>
	  I’m writing mostly about iOS development: snippets, walkthroughs, tips and tricks, stuff that I struggled with and links to interesting stuff I find around the web. From time to time I will find an interesting or helpful app and I will write about that, as well. Since I started learning Ruby/Rails, I will be writing about that too.
	  </p>
	  <p>
	  The blog is created with <a href="http://www.sinatrarb.com/">Sinatra</a> and it's hosted on <a href="http://heroku.com">Heroku</a>. It’s written using <a href="http://daringfireball.net/projects/markdown/">Markdown</a>, with the help of <a href="http://mouapp.com/">Mou</a>.
	  </p>
	</div>
</article>
<footer class="privacyPolicy" role="extra contentinfo">
  <p><a href="/privacy-policy">Privacy Policy</a></p>
</footer>