<article>
  <%- posts.each do |year, months| -%>
    <div class="one-half">
      <h1 class="archive-years">
        <%= year -%>
      </h1>
      <%- months.each do |month, posts| -%>
        <%- posts.each do |post| -%>
          <h2>
            <a href="<%= post[:link] -%>"><%= post[:title] %></a>
          </h2>
        <%- end -%>
      <%- end -%>
    </div>
  <%- end -%>
</article>
