<% layout('layout') %>
<% block('head').append('<link rel = "stylesheet" href = "/assets/post.css">') %>

<div class="content">
	<% posts.forEach(function(post) { %>
		<% include ./partials/post %>
	<% }) %>
</div>

<% page = parseInt(page) %>
<% var pages = Math.ceil(totalPosts / (process.env.PAGE_SIZE || 10)) %>
<% if (pages > 1) { %>
	<% include ./partials/page-navigation %>
<% } %>