<% layout('layout') %>
<% block('head').append('<link rel = "stylesheet" href = "/assets/sections/post.css">') %>

<div class="content">
<% posts.forEach(function(post) { %>
	<% include ./partials/post %>
<% }) %>
</div>