<article class="projects">
  <header><h1>Apps</h1></header>
  <div class="content">
    <p class="centeredImage">
      <a class="img" href="/expenses-planner"><img src="/assets/expenses-planner/Icon.png" alt="Carminder icon"></a>
    </p>
	  <p class="centeredImage">
      <a class="img" href="/carminder"><img src="/assets/carminder/Icon.png" alt="Carminder icon"></a>
      <a class="img" href="/bouncyb"><img src="/assets/bouncyb/Icon.png" alt="Carminder icon"></a>
    </p>
    <p class="centeredImage">
      <a class="img" href="/iwordjuggle"><img src="/assets/iwj/Icon.png" alt="Carminder icon"></a>
      <a class="img" href="/sosmorse"><img src="/assets/sosmorse/Icon.png" alt="Carminder icon"></a>
    </p>
	  <br />
    <p>More to come soon.</p>
  </div>
</article>

<article class="projects">
  <header><h1>Web</h1></header>
  <div class="content">
    <p><a href="/">This blog.</a> You can find the repo on my <a href="http://github.com/rolandleth/rolandleth.com">GitHub</a>.<br/>
    <a href="https://github.com/rolandleth/RLLandingPage">RLLanding Page</a>. A simple landing page your iOS apps.</p>
	  <br />
	  <p>More coming soon.</p>
  </div>
</article>