<article class="projects">
  <header><h1>Apps</h1></header>
  <div class="content">
	  <p class="centeredImage">
      <a class="img" href="http://carminderapp.com"><img src="/assets/misc/CarminderIcon.png" alt="Carminder icon"></a>
      <a class="img" href="/bouncyb"><img src="/assets/bouncyb/bbIcon.png" alt="Carminder icon"></a>
    </p>
    <p class="centeredImage">
      <a class="img" href="/iwordjuggle"><img src="/assets/iwj/iwjIcon.png" alt="Carminder icon"></a>
      <a class="img" href="/sosmorse"><img src="/assets/sosmorse/sosIcon.png" alt="Carminder icon"></a>
    </p>
    <p>More coming soon.</p>
  </div>
</article>

<article class="projects">
  <header><h1>Web</h1></header>
  <div class="content">
    <p><a href="/">This blog.</a></p>
    <p><a href="https://github.com/rolandleth/RLLandingPage">RLLanding Page</a>. A simple landing page your iOS apps.</p>
	  <p>More coming soon.</p>
  </div>
</article>