<% layout('layout') %>
<% block('head').append('<link rel = "stylesheet" href = "assets/projects.css">') %>
<div class="content">
	<article>
		<h1>Apps</h1>
		<div class="centered">
			<figure class="with-header">
				<a class="img" href="https://itunes.apple.com/us/app/deindeal/id465657999?ls=1&mt=8"><img class="icon" src="/assets/deindeal/icon.png" alt="DeinDeal icon"></a>
				<a class="img" href="https://itunes.apple.com/us/app/deindeal/id465657999?ls=1&mt=8"><img class="project-screenshot" src="/assets/deindeal/header.png" alt="DeinDeal screenshot"></a>
				<figcaption>DeinDeal</figcaption>
			</figure>
			<figure class="with-header">
				<a class="img" href="http://puppetanthems.com"><img class="icon" src="/assets/puppet-anthems/icon.png" alt="Puppet Anthems icon"></a>
				<a class="img" href="http://puppetanthems.com"><img class="project-screenshot" src="/assets/puppet-anthems/header.png" alt="Puppet Anthems screenshot"></a>
				<figcaption>Puppet Anthems</figcaption>
			</figure>
			<figure class="with-header">
				<a class="img" href="/expenses-planner"><img class="icon" src="/assets/expenses-planner/Icon.png" alt="Expenses Planner icon"></a>
				<a class="img" href="/expenses-planner"><img class="project-screenshot" src="/assets/expenses-planner/header.png" alt="Expenses Planner screenshot"></a>
				<figcaption>Expenses Planner</figcaption>
			</figure>
			<figure class="with-header">
				<a class="img" href="/carminder"><img class="icon" src="/assets/carminder/Icon.png" alt="Carminder icon"></a>
				<a class="img" href="/carminder"><img class="project-screenshot" src="/assets/carminder/header.png" alt="Carminder screenshot"></a>
				<figcaption>Carminder</figcaption>
			</figure>
		</div>
		<div class="gallery">
			<span>
				<a class="img" href="/bouncyb"><img class="icon" src="/assets/bouncyb/Icon.png" alt=" icon"></a>

				<span class="icon-title">Bouncy B</span>
			</span>
			<span>
				<a class="img" href="/iwordjuggle"><img class="icon" src="/assets/iwj/Icon.png" alt="iWordJuggle icon"></a>
				<span class="icon-title">iWordJuggle</span>
			</span>
			<span>
				<a class="img" href="/sosmorse"><img class="icon" src="/assets/sosmorse/Icon.png" alt="Sos & Morse icon"></a><br>
				<span class="icon-title">Sos & Morse</span>
			</span>
		</div>
	</article>

	<article>
		<h1>Ruby</h1>
		<p>
			This blog: written in <a href="http://github.com/rolandleth/rolandleth.com">Node.js</a>, or <a
				href="http://github.com/rolandleth/rolandleth.com/tree/sinatra">Sinatra</a> (unmaintained).<br>
			<a href="https://github.com/rolandleth/Unused.rb">Unused.rb.</a> Find and delete unused assets in your Xcode project.<br>
			<a href="https://github.com/rolandleth/lines-of-code.rb">Lines-Of-Code.rb.</a> Count the lines of code in your Xcode project (or in any folder, actually).<br>
		</p>
	</article>
</div>