<article>
  <header><h1>Apps</h1></header>
  <div class="content">
    <div class="centered">
	      <figure>
	        <a class="img" href="/expenses-planner"><img  class="icon" src="/assets/expenses-planner/Icon.png" alt="Expenses Planner icon"></a>
          <a class="img" href="/expenses-planner"><img class="projectScreenshot" src="/assets/expenses-planner/header.png" alt="Expenses Planner screenshot"></a>
	        <figcaption>Expenses Planner</figcaption>
        </figure>
    </div>
    <div class="centered">
	    <figure>
        <a class="img" href="/carminder"><img class="icon" src="/assets/carminder/Icon.png" alt="Carminder icon"></a>
        <a class="img" href="/carminder"><img class="projectScreenshot" src="/assets/carminder/header.png" alt="Carminder screenshot"></a>
	      <figcaption>Carminder</figcaption>
	    </figure>
    </div>
    <div id="gallery">
        <span>
          <a class="img" href="/bouncyb"><img class="icon" src="/assets/bouncyb/Icon.png" alt=" icon"></a>
          <br>
          Bouncy B
        </span>
        <span>
          <a class="img" href="/iwordjuggle"><img class="icon" src="/assets/iwj/Icon.png" alt="iWordJuggle icon"></a>
          <br>
          iWordJuggle
        </span>
        <span>
          <a class="img" href="/sosmorse"><img class="icon" src="/assets/sosmorse/Icon.png" alt="Sos & Morse icon"></a><br>
          Sos & Morse
        </span>
    </div>
  </div>
</article>

<article>
  <header><h1>Web</h1></header>
  <div class="content">
    <p>
      <a href="/">This blog.</a> You can find the source on my <a href="http://github.com/rolandleth/rolandleth.com">GitHub</a>.<br/>
      <a href="https://github.com/rolandleth/RLLandingPage">RLLanding Page</a>. A simple landing page your iOS apps.<br/>
      Full responsiveness for Expenses Planner's <a href="/expenses-planner">landing page.</a><br/>
      <br />
    </p>
    <p>More coming soon.</p>
  </div>
</article>