<!doctype html>
<html>
	<head>
		<link rel="shortcut icon" href="/assets/favicons/sosFavicon.ico">
		<title>
			Sos & Morse | Sos & Morse app for iOS
		</title>
	  <link rel="stylesheet" href="/assets/sections/sosmorse.css">
	  <link rel="stylesheet" href="/assets/globals/animate.css">
	</head>

	<body>
		<div id="menuBar">
			<div class="wrapper">
			  <div id="menu">
			    <a href="/">Blog</a>
			    <a href="/projects">Other Projects</a>
			    <a href="mailto:rolandleth@me.com">Contact</a>
			  </div>
			</div>
			<hr />
		</div>
		<div id="showcase">
			<div class="wrapper">
				<div id="showcaseText">
					<h1>Sos & Morse</h1>
					<img src="/assets/sosmorse/sosIcon.png" id="appIcon" class="animated bounceInDown" alt="">
					<p>An all-in-one multipurpose utility app that you can use for education too. Woo!</p>
				</div>
				<div id="showcaseImage">
					<img src="/assets/sosmorse/sosScreenshot.png" class="animated bounceInLeft" alt="">
				</div>
			</div>	
		</div>
		
		
		<div class="rightBlock">
			<div class="wrapper">
				<div class="featureText">
					<h1>THE S.O.S BUTTON</h1>
					<p>It simply starts an S.O.S signal with the iPhone's flash. If after 15 seconds the signal is not stopped, an e-mail is auto-composed with the current location and time since the signal was started. <br /> See below for further details.</p>
				</div>
				<img src="/assets/sosmorse/sosSos.png" class="animated bounceInRight" alt="">
			</div>
		</div>
		
		<div class="leftBlock">
			<div class="wrapper">
				<div class="featureText">
					<h1>LANDSCAPE</h1>
					<p>Pressing this button presents a text box where you can enter any text you want and it will be turned into morse code with the iPhone's flash.  <br />
					Neat educative perk, ain't it? <br />
					  The slider is there if you want a simple strobe.
					</p>
				</div>
				<img src="/assets/sosmorse/sosCustom.png" class="animated bounceInLeft" alt="">
			</div>
		</div>
		
		<div class="rightBlock">
			<div class="wrapper">
				<div class="featureText">
					<h1>SAVING THREE EMAILS</h1>
					<p>Here you can save up to three e-mail addresses so the app can auto-complete them when composing the message.
					<br /> 
The message is auto-composed, all you have to do is press Send. In case of an emergency, it might prove useful.</p>
				</div>
				<img src="/assets/sosmorse/sosEmails.png" class="animated bounceInRight" alt="">
			</div>
		</div>
		
		<footer>
			<p>© 2012-2013 Roland Leth</p>
		</footer>
	</body>
</html>