// Sizing
$max-width: 700px;

// Colors
$link-color: #12A8DA;
$highligh-color: #fffeca;
$code-background-color: ghostWhite;
$code-border-color: #cdcdcd;
$gray-color: #aaa;
$background-color: #f7f7f7;
$text-color: #444;
$title-color: #3b3b3b;
$meta-color: #999;
$red-color: #f6291d;

$small-query: "all and (max-width: 575px)";
$retina-query: "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5)";
