@import "../globals/variables";

span {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

span.the-404:before {
	position: absolute;
	top: 80%;
	right: 0px;
	left: 0px;
	max-width: 425px;
	height: 40px;
	content: "";
	background-image: url(/assets/misc/404_shadow.png);
	background-size: 100%;
}

span.the-404-search:before {
  position: absolute;
  top: 80%;
  right: 0px;
  left: 11%;
  max-width: 380px;
  height: 40px;
  content: "";
  background-image: url(/assets/misc/404_shadow.png);
  background-size: 100%;
}

h1 {
	&.the-404 {
		margin: 20% 0 0;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.9);
		font-size: 13em;
		font-weight: bold;
		line-height: 1em;
		text-align: center;
		color: $text-color;
	}

	&.the-404-search {
		margin: 20% 0 0;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.9);
		font-size: 10em;
		font-weight: bold;
		line-height: 1em;
		text-align: center;
		color: $text-color;
	}
}

p.error-message {
	max-width: 450px;
	margin: 20px auto 0;
	font-size: 1.3em;
	line-height: 1.3em;
	margin-bottom: 20%;
	text-align: center;
}

@media screen and (max-width: 647px) {
  span.the-404-search:before {
    left: 8%;
    max-width: 320px;
  }

	h1 {
		&.the-404 {
			font-size: 11em;
		}
		&.the-404-search {
			font-size: 8em;
		}
	}


	p.error-message {
		font-size: 1.2em;
	}
}

@media screen and (max-width: 450px) {
  span.the-404-search:before {
    left: 6.5%;
    max-width: 250px;
  }

	h1 {
		&.the-404 {
			font-size: 9em;
		}
		&.the-404-search {
			font-size: 6em;
		}
	}
}

@media screen and (max-width: 350px) {
  span.the-404-search:before {
    left: 3%;
  }

	h1 {
		&.the-404 {
			font-size: 6em;
		}
	}
}