//@import 'bourbon';
@import '../globals/variables';

a.img:hover {
	border-bottom: none;
	opacity: 0.7;
}


#gallery {
	color: gray;
	text-align: center;
	font-weight: 500;
	font-size: 0.75em;

	& span {
		display:inline-block;
		margin: 0.25em 0.5em 0;

		&.icon-title {
			display: block;
			margin: -0.5em 0 0;
		}

		&>a>img {
			margin: 0.15em 0.3em;
		}
	}
}

.centered {
	@include center_text;
	margin: 0.5em 0;
	color: gray;
	font-weight: 500;

	& a:first-child img {
		margin-left: 0;
	}

	& a:last-child img {
		margin-right: 0;
	}

}

.no-margin {
	margin: 0;
}

figure.with-header {
	display: inline-block;
	margin: 0 0.5em 1em 0;
}

.centered-image-wrapper {
	overflow: auto;
	-webkit-border-radius: 2px;

	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: #777 0 0 3px 1px;

	-moz-box-shadow: #444 0 0 3px 1px;
	box-shadow: #777 0 0 7px 0; /* color, h-offset, v-offset, blur, spread */
	text-align: center; /* inset is optional */
}

header {
	color: $text_color;
	word-break: break-all;
	font-weight: normal;
	font-size: 1.8em;
	font-family: $header_font;
	line-height: 1.2em;

	& h1 a {
		border-bottom: 1px solid transparent;
		color: $text_color;
		word-break: normal;

		&:hover {
			border-bottom: 1px solid transparent;
			color: $link_color;
		}
	}
}

.content {
	padding-top: 0.7em;
	padding-left: 2px;
	line-height: 1.4em;

	& h2 {
		margin-bottom: 0.5em;
		padding-top: 0.25em;
		color: $text_color;
		font-weight: normal;
		font-size: 1.3em;
		font-family: $header_font;
	}

	& li {
		list-style: disc inside;

		&>ul>li {
			padding-left: 1.5em;
			list-style-type: circle;
		}
	}

	&.projects {
		@include light_bottom_border(1px);
	}

	& .article {
		padding: 3em 0 1.5em;
		line-height: 1.3em;
		@include light_bottom_border(1px);

		& h4 {
			padding-left: 2px;
			color: $gray;
			font-weight: 500;
			font-style: italic;
			font-size: 0.41em;
			line-height: 2em;

			& span.tilde {
				font-family: $body_font;
			}
		}
	}
}

@include responsive_width(647px) {
	.content h2 {
		font-size: 1.5em;
		line-height: 1.1em;
	}
}

@include responsive_width(535px) {
	header {
		font-size: 1.8em;
	}
}

@include responsive_width(475px) {
	header {
		font-size: 1.7em;
	}

	.content {
		padding-top: 1em;

		& h2 {
			font-size: 1.3em;
			line-height: 1.1em;
		}
	}
}
