@import url(http://fonts.googleapis.com/css?family=Arvo);

body {
	margin: auto;
	padding: 0;
	background-color: ghostWhite;
	min-width: 1050px;
}

h1 {
	color: #444;
	font-weight: normal;
	font-size: 1.5em;
	font-family: 'ArvoRegular';
	line-height: 1.1em;
}

p {
	padding-right: 40px;
}

hr {
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
	-webkit-margin-start: auto;
	-webkit-margin-end: auto;
}

.wrapper {
	margin: auto;
	padding: 80px 0 0 30px;
	width: 1000px;
}

#menuBar {
	margin: auto;
	padding: 25px 0 0 0;
	background-color: #2E3133;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15) inset;
	text-align: right;
}

#menuBar .wrapper {	
	padding-top: 0;
	height: 40px;
}

#menuBar hr {
	margin: -1px 0 0;
	padding: 0;
	border: none;
	border-top: 2px solid #000;
	border-bottom: 1px solid #cdcdcd;
}

#menu {
	float: right;
	padding-right: 40px;
	width: 350px;
}

#menu a {
	margin-left: 1.2em;
	color: #ccc;
	text-decoration: none;
	text-transform: uppercase;
}

#menu a:hover {
	border-bottom: 1px solid #ccc;
}

#showcase {
	background-color: #FFDFDE;
/* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15) inset; */
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15) inset;
}

#showcase h1 {
	font-size: 2.5em;	
}

#showcaseImage {
	width: 600px;
}

#showcaseText {
	padding-top: 60px;
	float: right;
	width: 600px;
	text-align: justify;
	font-weight: normal;
	font-size: 1.5em;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, sans-serif;
	line-height: 1.3em;
}


#showcaseText h1 {
	position: relative;
	top: 75px;
	display: inline;
	width: 230px;
	color: #444;
	font-weight: normal;
	font-family: 'ArvoRegular';
	line-height: 1.1em;
}

#appIcon {
	position: relative;
	float: right;
	padding-right: 40px;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

#showcaseText p {
	float: left;
}

.featureText {
	display: inline;
	margin: auto;
	padding-top: 10%;
	max-width: 475px;
	font-weight: normal;
	font-size: 1.2em;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, sans-serif;
	line-height: 1.3em;
}

.rightBlock img {
	display: table;
	float: right;
	padding-right: 35px;
}

.rightBlock {
	overflow: hidden;
	height: auto;
	background-color: ghostWhite;
}

.rightBlock .featureText {
	float: left;
}

.rightBlock hr {
	margin: -1px 0 0;
	padding: 0;
	border: none;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #f4f4ff;
}


.leftBlock {
	overflow: hidden;
	height: auto;
	background-color: #FFDFDE;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15) inset;
}

.leftBlock img {
	float: left;
}

.leftBlock .featureText {
	float: right;
	padding-right: 40px;
	text-align: right;
}

.leftBlock p {
	padding: 0;
}

.leftBlock hr {
	margin: -1px 0 0;
	padding: 0;
	border: none;
	border-top: 1px solid #f4f4ff;
	border-bottom: 1px solid #ededed;
}

footer {
	background-color: #2E3133;
	color: #ccc;
	text-align: center;
}

footer hr {
	margin: -1px 0 0;
	padding: 0;
	border: none;
	border-top: 1px solid #cdcdcd;
	border-bottom: 2px solid #000;
}

footer p {
	margin: 0;
	padding: 20px 0 20px;
	background-color: #2E3133;
	font-size: 0.8em;
}