@import 'globals/variables';

.content {
	line-height: 1.5em;
	@include light_bottom_border(1px);
}

img {
	float: left;
	margin-top: 18px;
	margin-right: 1em;
}

.privacy-footer {
	text-align: center;
	margin: 1.2em auto;
}