@import 'globals/variables';

.content {
	padding-top: 3.5em;
	@include lightBottomBorder(1px);
}

img {
	float: left;
	margin-top: 18px;
	margin-right: 1em;
}

.privacy-footer {
	text-align: center;
	margin: 1.2em auto;
}
