@import 'globals/variables';
@import 'globals/reset';

html {
	//border-left: 4px solid $link-color;
}

body {
	padding: 0 15px;
	color: $textColor;
	background: #fff;
	font-family: $bodyFont;

	max-width: $maxWidth;
	margin: 0 auto;
	clear: both;
}

.content {
	padding: 1em 0 1.5em 2px;
	line-height: 1.4em;
}

li {
	list-style: disc inside;

	> ul > li {
		padding-left: 1.5em;
		list-style-type: circle;
	}
}

article {
	font-size: 1em;
	padding: 2em 0 1.5em;
	line-height: 1.5em;
	@include lightBottomBorder(1px);
}

h1 {
	font-size: 1.85em;
	font-weight: normal;
	display: inline-block;
	font-family: $headerFont;
	line-height: 1.2em;
	color: $textColor;
}

h4 {
	font-family: $headerFont;
	padding-left: 2px;
	margin-bottom: 20px;
	color: $gray;
	font-weight: 500;
	font-style: italic;
	font-size: 0.75em;

	& span.tilde {
		font-family: $bodyFont;
	}
}

header a, nav a {
	color: $textColor;
	border-bottom: none;

	&:hover {
		color: $linkColor;
	}

	@include transition(color, 0.3s);
}

a, nav.pagination a {
	text-decoration: none;
	color: $linkColor;
	border-bottom: 1px solid transparent;
	padding-bottom: 2px;

	@include transition(border, 0.4s);

	&:hover {
		border-bottom-color: $linkColor;
	}
}

p {
	margin: 0.5em 0;

	&.no-margin {
		margin: 0;
	}
}

em {
	font-style: italic;
}

img {
	border-radius: 2px;
	-webkit-box-shadow: #777777 0 0 3px 1px;
	-moz-box-shadow: #444444 0 0 3px 1px; /* color, h-offset, v-offset, blur, spread */
	box-shadow: #777777 0 0 7px 0; /* inset is optional */

	&:not([class]) {
		display: table;
		margin: 0 auto;
	}
}

mark.search {
	border-radius: 2px;
	font-style: normal;
	padding: 0 0.1em 0 0.1em;
	background-color: $linkColor;
	color: $backgroundColor;
}

strong {
	font-weight: 600;
}

@include responsiveWidth(430px) {
	img.project-screenshot {
		display: none;
	}
}

@import "components/footer";
@import "components/header";
@import "components/syntax";
@import "components/pygments";
@import "components/pagination";
