@import 'bourbon';
@import 'globals/variables';
@import 'globals/reset';

html {
	//border-left: 4px solid $link-color;
}

nav.header {
	max-width: $max_width;
	margin: 2.5em auto 4em auto;
	font-family: $header_font;

	& .banner-container {
		border-bottom: 2px solid $text_color;
		width: 100%;

		& .banner {
			font-size: 2.5em;
			display: inline-block;
		}

		& form.banner-search {
			background-color: rgba(0, 0, 0, 0);
			display: inline-block;
			margin-top: 9px;
			float: right;

			& input.search {
				text-align: right;
				border-bottom: none;

				&:focus {
					outline: transparent none;
					border-bottom: none;
				}
			}
		}
	}

	& form.search {
		display: none;
		padding-top: 8px;

		& input.search {
			padding: 5px;
			color: $link_color;

			border: 0;
			@include light_bottom_border(1px);
			outline-width: 0;
			border-radius: 0;

			font-family: $body_font;
			font-size: inherit;

			&::-webkit-input-placeholder{
				color: $gray;
			}
			&::-moz-placeholder {
				color: $gray;
			}
			&:-moz-placeholder {
				color: $gray;
			}

			&:focus {
				border-bottom: 1px solid $link_color;

				&::-webkit-input-placeholder {
					color: $link_color;
				}
				&::-moz-placeholder {
					color: $link_color;
				}
				&:-moz-placeholder {
					color: $link_color;
				}
			}
		}
	}

	& .navigation {
		float: right;
		text-align: right;
		margin-top: 1px;

		& .fa {
			margin-top: 8px;
		}

		& a {
			display: inline-block;
			font-size: 1.4em;

			margin-left: 20px; // 40
			@include responsive_width(570px) {
				margin-left: 12px;
			}

			&:first-child {
				margin-left: 0;
			}

			& h2 {
				line-height: 1.3em;
			}
		}
	}

	& a {
		color: $text_color;
		line-height: 1.25em;

		&:hover {
			color: $link_color;
			border-bottom: 0;
		}
	}

	@include responsive_width(330px) {
		font-size: 0.9em;
	}

	@include responsive_width(356px) {
		font-size: 1em;
	}

	@include responsive_width(482px) {
		@include center_text;
		margin-bottom: 1.2em;

		& .navigation {
			max-width: 150px;
		}

		& .banner-container {
			& .banner {
				float: none;
			}

			& form.banner-search {
				display: none;
			}
		}

		& form.search {
			display: block;
			float: left;
			padding-top: 4px;
			margin-bottom: 30px;
		}
	}
}

body {
	padding: 0 15px;
	color: $text_color;
	background: #fff;
	font-family: $body_font;
	font-size: 17px;

	max-width: $max_width;
	margin: 0 auto;
	clear: both;
}

.content {
	padding: 1em 0 1.5em 2px;
	line-height: 1.4em;

	& h2 {
		margin-bottom: 0.5em;
		padding-top: 0.25em;
		color: $text_color;
		font-weight: normal;
		font-size: 1.3em;
		font-family: $header_font;
	}

	& li {
		list-style: disc inside;

		& > ul > li {
			padding-left: 1.5em;
			list-style-type: circle;
		}
	}
}

article {
	font-size: 1em;
	padding: 2em 0 1.5em;
	line-height: 1.3em;
	@include light_bottom_border(1px);

	& h4 {
		font-family: $header_font;
		padding-left: 2px;
		margin-bottom: 20px;
		color: $gray;
		font-weight: 500;
		font-style: italic;
		font-size: 0.75em;

		& span.tilde {
			font-family: $body_font;
		}
	}
}

a {
	text-decoration: none;
	color: $link_color;
	@include transition(border, 0.3s);

	&:hover {
		border-bottom: 1px solid;
	}
}

p {
	margin: 0.5em 0;

	&.no-margin {
		margin: 0;
	}
}

em {
	font-style: italic;
}

.quote {
	@include center_text;
	font-weight: 300;
	font-style: italic;
	font-family: $body_font;
	margin-bottom: 0.5em;
}

img {
	border-radius: 2px;
	-webkit-box-shadow: #777777 0 0 3px 1px;
	-moz-box-shadow: #444444 0 0 3px 1px; /* color, h-offset, v-offset, blur, spread */
	box-shadow: #777777 0 0 7px 0; /* inset is optional */

	&:not([class]) {
		display: table;
		margin: 0 auto;
	}
}

mark {
	border-radius: 2px;
	background-color: #fffdcc;
	font-style: normal;

	&.search {
		padding: 0 0.1em 0 0.1em;
		border-radius: 2px;
		background-color: $link_color;
		color: $background_color;
		font-style: normal;
	}
}

strong {
	font-weight: 600;
}

a {
	@include transition(color, 0.3s);
	@include transition(border, 0.3s);
}

footer {
	max-width: $max_width;
	margin: 3em auto 1em;
	@include center_text;
	color: $gray;
	line-height: 1.5em;

	& .copyright {
		margin-bottom: 0.5em;
	}

	& a {
		color: $link_color;

		& .fa {
			margin-left: 10px;
			font-size: 1.3em;
		}

		&:hover {
			color: $link_color;
			border-bottom: none;
		}
	}
}

@include responsive_width(430px) {
	img.project-screenshot {
		display: none;
	}
}


@import "components/syntax";
@import "components/pygments";
@import "components/pagination";
