@import 'globals/variables';

.content {
	@include lightBottomBorder(1px);
	padding-bottom: 1.5em;
}

img {
	float: left;
	margin-top: 14px;
	margin-right: 1em;
}

.privacy-footer {
	text-align: center;
	margin: 1.5em auto 3em;
}

@include responsiveWidth($smallMedia) {
	.content {
		padding-top: 4em;
		font-size: 0.9em;
	}
	
	img {
		max-width: 125px;
	}
}
