@import '../globals/variables';
@import '../globals/reset.min.css';

body {
	padding: 0 14px;
	color: $textColor;
	background: #fff;
	font-family: $bodyFont;

	max-width: $maxWidth;
	margin: 0 auto;
}

li {
	list-style: disc inside;

	> ul > li {
		padding-left: 1.5em;
		list-style-type: circle;
	}
}

h1 {
	font-size: 1.85em;
	font-weight: normal;
	display: inline-block;
	font-family: $headerFont;
	line-height: 1.2em;
	color: $textColor;
}

h4 {
	font-family: $headerFont;
	padding-left: 2px;
	margin-bottom: 20px;
	color: $gray;
	font-weight: 500;
	font-style: italic;
	font-size: 0.75em;
}

a {
	text-decoration: none;
	color: $linkColor;
	border-bottom: 1px solid transparent;
	padding-bottom: 2px;

	@include transition(border, 0.4s);

	&:hover {
		border-bottom-color: $linkColor;
	}

	.article-header &, .site-header & {
		color: $textColor;
		border-bottom: none;

		&:hover {
			color: $linkColor;
		}

		@include transition(color, 0.3s);
	}
}

p {
	margin: 0.75em 0;

	&.no-margin {
		margin: 0;
	}
}

em {
	font-style: italic;
}

img {
	border-radius: 2px;
	-webkit-box-shadow: #777777 0 0 3px 1px;
	-moz-box-shadow: #444444 0 0 3px 1px; /* color, h-offset, v-offset, blur, spread */
	box-shadow: #777777 0 0 7px 0; /* inset is optional */

	&:not([class]) {
		display: table;
		margin: 10px auto;
	}

	.centered & {
		display: inline;
		margin: 10px;
	}

	.centered-image-wrapper & {
		margin: 0 auto;
	}
}

strong {
	font-weight: 600;
}

.mark {
	background-color: yellow;
	color: black;
}

.content {
	padding: 6em 0 0.5em 2px;
	line-height: 1.4em;

	@include  responsiveWidth($phoneMedia) {
		padding-top: 4em;
		padding-bottom: 0;
	}
}

.centered {
	text-align: center;
}

.subtitle {
	font-size: 0.8em;
	color: #bcbcbc;
	margin-top: -1em;
	margin-bottom: 0.75em;
}
