// Sizing
$maxWidth: 700px;

// Colors
$linkColor: #12a8da;
$highlighColor: #fffeca;
$codeColor: #703daa;
$preCodeColor: #444;

$lightGray: #eee;
$gray: #aaa;
$backgroundColor: #f7f7f7;
$textColor: #3b3b3b;
$redColor: #f6291d;

$headerFont: "Copperplate", "Copperplate Gothic", copperplate,
	"American Typewriter", "Georgia", serif;
$lightFont: -apple-sytem, "Avenir Next", "Verdana", sans-serif;
//$body_font: 'Avenir Next', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$bodyFont: -apple-sytem, "Verdana", "Arial", sans-serif;
$codeFont: "SF Mono", "Menlo", "Monaco", "Courier", monospace;

$phoneMedia: 482px;
$smallMedia: 374px;
$smallQuery: "all and (max-width: 575px)";
$retinaQuery: "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5)";

@mixin borderRadius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin lightBottomBorder($size) {
	border-bottom: $size solid $lightGray;
}

@mixin lightTopBorder($size) {
	border-top: $size solid $lightGray;
}

@mixin responsiveWidth($width) {
	@media screen and (max-width: $width) {
		@content;
	}
}

@mixin transition($prop, $duration) {
	-webkit-transition: $prop $duration ease-in-out;
	-moz-transition: $prop $duration ease-in-out;
	-o-transition: $prop $duration ease-in-out;
	transition: $prop $duration ease-in-out;
}
