@import "../globals/variables";

.site-footer {
	max-width: $maxWidth;
	margin: 3em auto 1em;
	text-align: center;
	color: $gray;
	line-height: 1.5em;

	.patreon > img {
		height: 13px;
	}
}

.copyright {
	margin-bottom: 0.5em;
}

.quote {
	font-weight: 200;
	font-style: italic;
	font-family: $lightFont;
	margin-bottom: 0.5em;
}
